//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 30 09:56:11 2022
//! **************************************************************************

SCHEMATIC START;
COMP "dp" LOCATE = SITE "H15" LEVEL 1;
COMP "CRT" LOCATE = SITE "J15" LEVEL 1;
COMP "SEGMENT<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "SEGMENT<1>" LOCATE = SITE "R10" LEVEL 1;
COMP "SEGMENT<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "SEGMENT<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "SEGMENT<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "SEGMENT<5>" LOCATE = SITE "T11" LEVEL 1;
COMP "SEGMENT<6>" LOCATE = SITE "L18" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "J17" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "J18" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "T9" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "RST" LOCATE = SITE "N17" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

